@font-face {
    font-family: "Oswald";
    src: url("./fonts/Oswald-Regular.ttf");
}

@font-face {
    font-family: "Oswald Bold";
    src: url("./fonts/Oswald-Bold.ttf");
}

html {
    font-family: "Oswald", Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

.cstm_background {
    position: absolute;
    background-image: linear-gradient(#ffffff, #b0e0e6);
    width: 100%;
    height:100%;
}

.cstm_background h1, h2, h3, h4, h5, h6 {
    color: #5D5F71;
    font-family: "Oswald Bold", Helvetica, sans-serif
}

.cstm_background p {
    color: #2b2c34;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.cstm_whitebar {
    border: 1px solid white;
}

.cstm_secondary {
    color: #6C969D;
}

li.cstm_secondary > a.active {
    background-color: #6C969D;
}

li.cstm_secondary a {
    color: #6C969D;
}

li.cstm_secondary a.active {
    color: white;
}

.cstm_scrollbox {
    overflow-y: auto;
}

#cstm_feed {
    color: #e1e5e5;
    background-color: rgba(0,0,0,0.5);
    max-height: 50%;
    width: 90%;
    padding: 3%;
}

#cstm_feed h5 {
    color: #e1e5e5;
    font-family: "Oswald Bold", Helvetica, sans-serif
}

#canvasCol, #basicCol {
    height: 100%;
}

#basicWorkspace {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

#cstm_mainCanvas {
    width: 90%;
    min-height: 90%;
    background-color: #e4ebed;
}

#feed-list {
    list-style-type: square;
    overflow-y: scroll;
    max-height: 30vh;
}

.data_slot {
    background-color: rgba(0,0,0,0);
}